@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pc";
    src: url("fonts/pc.otf");
}

@font-face {
    font-family: "inria";
    src: url("fonts/InriaSerif-Regular.ttf");
}

.markdown-content {
    @apply m-2 p-2;
    @apply md:m-8 md:p-8;
    @apply font-inria;
    @apply text-base;
}

.small {
    @apply text-xs;
}

.markdown-content h1 {
    @apply font-pc;
    @apply text-h1;
    @apply md:text-mdh1;
    @apply text-center;
}

.markdown-content h2 {
    @apply font-pc;
    @apply text-h2;
    @apply md:text-mdh2;
}

.markdown-content p {
    @apply mb-5;
}

img[alt~="Image Right"] {
    @apply object-right;
    @apply w-1;
}

