@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pc";
    src: url("fonts/pc.otf");
}

@font-face {
    font-family: "inria";
    src: url("fonts/InriaSerif-Regular.ttf");
}

.markdown-content {
    @apply m-2 p-2;
    @apply md:m-5 md:p-5;
    @apply font-inria;
    @apply text-base;
}

.markdown-content h1 {
    @apply font-pc;
    @apply text-9xl;
}

.markdown-content h2 {
    @apply font-pc;
    @apply text-7xl;
}

.markdown-content p {
    @apply mb-5;
}