{% extends "page.html" %}

{% block title %}Welcome to Zola{% endblock title %}

{% block content %}
<section class="">
  <div
    class="min-h-screen bg-purecosmetics bg-cover bg-no-repeat bg-top ">
    <!-- content container -->
    <div class="h-full flex justify-left">
      <!-- content div -->
      <div class="font-pc">
        <h1 class="text-9xl hidden">Pure Cosmetics</h1>
      </div>
      <!-- end content div -->
    </div>
    <!-- end content container -->
  </div>
</section>

{% endblock content %}